.auciton {
  position: relative;
  font-weight: 600;
}
.headingContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-39xl) var(--padding-80xl);
  align-items: center;
  justify-content: space-between;
}
.aucitonName {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.bidOn {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-lato);
  color: var(--color-black);
  text-align: center;
}
.articelSetContainer,
.button,
.lists {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) 28px;
  background-color: var(--color-goldenrod);
  border-radius: var(--br-mini);
  flex-direction: row;
}
.button:hover {
  background-color: var(--color-peru);
}
.articelSetContainer,
.lists {
  align-self: stretch;
}
.articelSetContainer {
  background-color: var(--whi);
  flex-direction: column;
  padding: 41px 123px 95px;
  gap: var(--gap-21xl);
}
.lists {
  flex-direction: row;
  padding: 51px 0 0;
  gap: 264px;
}
.auctiondetails,
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.mainContainer {
  align-self: stretch;
  align-items: center;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.auctiondetails {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 0 0 var(--padding-21xl);
  box-sizing: border-box;
  align-items: flex-start;
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Make sure it's above the rest of the content */
}

.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-9xl);
  background-color: var(--color-goldenrod);
  border-radius: var(--br-mini);
  margin: 50px 10px;
}
