.myBids1 {
  position: relative;
  font-weight: 600;
}
.headingContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-39xl) var(--padding-80xl);
  align-items: center;
  justify-content: space-between;
}
.mainContainer,
.myBids {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.mainContainer {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-11xs);
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.myBids {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;

  overflow: hidden;
  padding: 0 0 var(--padding-21xl);
  box-sizing: border-box;
  align-items: flex-start;
}
