.logoParent,
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.logoParent {
  align-self: stretch;
  flex: 1;
  gap: 279px;
}
.navbar {
  position: relative;
  background-color: var(--whi);
  width: 100%;
  padding: 0 61px 0 var(--padding-sm);
  box-sizing: border-box;
}
