.articleChild {
  position: relative;
  width: 165px;
  height: 131.46px;
  object-fit: cover;
}

.articleName,
.entitiesNumber {
  margin: 0;
  position: relative;
  font-weight: 400;
  font-family: inherit;
}

.articleName {
  font-size: var(--font-size-sm); /* Adjust to your desired smaller font size */
}

.entitiesNumber {
  font-size: var(--font-size-xs); /* Adjust to your desired smaller font size */
}

.article,
.articleNameParent {
  display: flex;
  flex-direction: column;
}

.articleNameParent {
  width: 147.19px;
  padding: var(--padding-xs) var(--padding-xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-7xs);
}

.article {
  background-color: var(--whi);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: auto;
  height: auto;
  display: flex;
  margin: 10px 20px;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
  text-align: left;
  font-size: 17px; /* Adjust to your desired smaller font size */
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.lowerOpacity {
  opacity: 0.5; /* Adjust the opacity value as needed */
}
