.auctionContainerChild {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 195px;
  flex-shrink: 0;
  object-fit: cover;
}
.aucitonName,
.startTime {
  margin: 0;
  position: relative;
  font-weight: 400;
  font-family: inherit;
}
.aucitonName {
  font-size: var(--navbar-size);
}
.startTime {
  font-size: inherit;
}
.aucitonNameParent {
  flex-direction: column;
  padding: 0 var(--padding-7xl);
  justify-content: flex-start;
}
.aucitonNameParent,
.auctionContainer,
.row {
  display: flex;
  align-items: flex-start;
}
.auctionContainer {
  background-color: var(--whi);
  width: 252px;
  height: 298px;
  flex-direction: column;
  padding: 0 0 var(--padding-16xl);
  box-sizing: border-box;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.row {
  width: 880px;
  flex-direction: row;
  justify-content: space-between;
}
.auctionsContainer,
.myBidsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.auctionsContainer {
  width: 880px;
  align-items: flex-start;
}
.myBidsContainer {
  align-self: stretch;
  height: 1243px;
  padding: var(--padding-11xl) var(--padding-39xl) 0;
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-15xl);
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 960px) {
  .auctionsContainer {
    flex-direction: column;
  }
}
@media screen and (max-width: 420px) {
  .auctionsContainer {
    flex-direction: column;
  }
}
