.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
  margin: 40px;
}

@media screen and (max-width: 960px) {
  .row {
    grid-template-columns: 1fr;
  }
}
