/* WinnersListContainer.module.css */

.winnersList {
  font-weight: 600;
  font-size: 30px; /* Adjust the font size as needed */
}

.winner {
  margin-bottom: 20px;
  font-size: 20px; /* Adjust the font size as needed */
}

.winnerPutTime {
  margin: 0;
  padding-left: var(--padding-13xl);
}

.winnerContainer {
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-family: inherit;
}

.winnersListContainer,
.winnersListParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.winnersListParent {
  width: 349px;
}

.winnersListContainer {
  background-color: var(--whi);
  display: flex;
  padding: var(--padding-26xl) var(--padding-63xl) var(--padding-106xl);
  text-align: center;
  font-size: 12px; /* Adjust the font size as needed */
  color: var(--color-black);
  font-family: var(--font-roboto);
}

.collectionBubble {
  position: absolute; /* Change to relative positioning */
  background-color: var(--whi);
  border: 1px solid #ccc;
  left: 380px;
  top: -100px;
  transition: opacity 0.2s ease-in-out;
  padding: 10px;
  max-width: 300px;
  min-width: 280px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.collectionBubble::before {
  position: absolute;

  width: auto;

  visibility: hidden;
  opacity: 0;

  pointer-events: none; /* Allows clicks to pass through */
}

.collectionBubble:hover::before {
  visibility: visible;
  opacity: 1;

  left: 0;
  transform: translateX(-50%); /* Center the tooltip horizontally */
}

.collectionItem {
  box-sizing: border-box;
  padding: 5px 0; /* Add padding to the top and bottom */
  width: 100%;
  font-size: 14px;
  margin: 0;
  border-bottom: 1px solid #ccc;
}

.collectionItem:last-child {
  border-bottom: none; /* Remove the border from the last item */
}
